{% extends "base_site.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Research Compute</h1>

    <p class="important">Welcome to Research Computing at {{ organisation }}</p>
      <p class="important break">
        Members of {{ organisation }} can check Azure usage and budgets by logging in below.
    </p>
    <a href="/login?redirect={{ redirect_url }}"><button type="button" class="basicButton">Login</button></a>
{% endblock %}
